.toolbar {
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.toolbar > a {
    color: white;
    margin-left: 10px;
}

.toolbar > a:hover {
    color: rgb(202, 202, 202);
}