.goj-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .goj-container {
        max-width: 540px;
    }
}

@media (min-width: 480px) {
    .goj-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .goj-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .goj-container {
        max-width: 1140px;
    }
}