.goj-flex {
    display: flex;
}

.goj-flex__space-between {
    justify-content: space-between;
}

.goj-full-width {
    width: 100%;
}

.goj-full-screen-height-flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media screen and (max-width: $goj-breakpoint-md) {
    .goj-flex {
        flex-direction: column;
    }
}