.example {
    border: 1px solid var(--goj-color-light-gray);
    border-radius: 4px;
    background-color: var(--goj-color-white);
    margin-bottom: 24px;
}

.title {
    font-weight: bold;
    margin-bottom: 12px;
    padding: 12px;
    margin-top: 0;
    padding-bottom: 10px;
    color: var(--goj-color-white);
    background-color: var(--goj-color-red);
}

.content {
    padding: 12px;
}

.content[data-inverse="true"] {
    background-color: var(--goj-color-blue);
    color: var(--goj-color-white);
}

.contentIframe {
    width: 100%;
    border: none;
    height: 0;
}

.tabs {
    display: flex;
    margin-top: 12px;
    border-top: 2px solid var(--goj-color-light-gray);
}

.tab {
    padding: 10px 12px;
    width: fit-content;
    cursor: pointer;
    font-size: 18px;
    color: #1d70b8;
    text-decoration: underline;
    background-color: white;
    border: none;
    border-right: 1px solid var(--goj-color-light-gray);
}

.tab:hover {
    text-decoration: underline;
    background-color: #ececec;
}

.code {
    padding: 20px 10px !important;
    background-color: #f5f4f4 !important;
    margin: 0;
}

.copyCode {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    height: 30px;
}

.copyCode:hover {
    cursor: pointer;
}