.sidebar {
    padding-top: 25px;
    display: flex;
    flex-direction: column;

}

.sidebarItem {
    text-decoration: none;
    padding: 10px 10px;
    color: #104fbb;
    border-left: 3px solid transparent;
}

.sidebarItem:hover {
    color: #0a2e6b;
    background-color: #ececec;
    font-weight: bold;
}

.sidebarItemActive {
    border-left: 3px solid #104fbb;
}

.mobileClose {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        height: 100%;
        width: 225px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1500;
        box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
    }

    .open {
        transform: translateX(0);
    }

    .mobileClose {
        display: block;
    }
}