$goj-header-height: 68px;
$goj-header-navigation-height: 50px;

.goj-header {
    background-color: goj-color("red");
    width: 100%;
    height: $goj-header-height;
}

.goj-header__container {
    @extend .goj-container;
    padding-top: 0;
    display: flex;
}

.goj-header__logo {
    color: goj-color("white");
    float: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    padding: 5px 25px 5px 0;
    text-decoration: none;
    white-space: nowrap;
}

.goj-header__logo img {
    display: inline-block;
    height: 58px;
    max-width: 100%;
    vertical-align: middle;
    margin: 0 8px 0 0;
}

.goj-header__actions {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: $goj-header-height;
    margin-left: auto;
    white-space: nowrap;
    font-size: 36px;
}

.goj-header__search {
    position: relative;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23505a5f'%3E%3C/path%3E%3C/svg%3E");
    // background-repeat: no-repeat;
    // background-position: center left -2px;
    // padding-left: 35px !important;
    height: 40px !important;
    min-width: 350px;
}

.goj-header__search-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='white'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    height: 40px !important;
    width: 40px !important;
    background-color: goj-color("black") !important;
    border-color: goj-color("black") !important;
    cursor: pointer;

    &:focus {
        outline: 2.5px solid goj-color("focus");
        z-index: 10;
    }
}

.goj-header__navigation-wrapper {
    width: 100%;
    height: $goj-header-navigation-height;
    background-color: goj-color("light-gray");
    border-bottom: 1px solid goj-color("gray");
}

.goj-header__navigation {
    display: flex;
    align-items: center;
    height: $goj-header-navigation-height;
    margin-left: -17px;
}

.goj-header__navigation-item {
    color: black;
    text-decoration: none;
    height: 100%;
    line-height: $goj-header-navigation-height;
    padding: 0 17px;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2.5px;
        text-underline-offset: 6px;
        color: goj-color("red");
        font-weight: 500;
    }
}

.goj-header__menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    padding: 5px 18px;
    
    &:after {
        content: "\f078";
        font-family: FontAwesome;
    }
}

.goj-header--mobile-navigation-open {
    .goj-header__menu-button:after {
        content: "\f077";
        font-family: FontAwesome;
    }
}

@media screen and (max-width: $goj-breakpoint-md) {
    .goj-header {
        height: fit-content;
    }

    .goj-header__container {
        flex-direction: column;
    }

    .goj-header__actions {
        margin: 0;
        height: auto;
        margin-bottom: 10px;
    }

    .goj-header__search {
        min-width: auto;
        width: 100%;
    }

    .goj-header__navigation-wrapper {
        height: 100%;

    }

    .goj-header__navigation {
        flex-wrap: wrap;
        height: 100%;
    }

    .goj-header--enable-mobile-navigation .goj-header__navigation {
        height: 100%;
        padding: 5px 0;
    }

    .goj-header--enable-mobile-navigation .goj-header__navigation-item {
        flex: 1 1 100%;
        padding: 0;
        box-sizing: border-box;
        line-height: 38px;
    }

    .goj-header--enable-mobile-navigation .goj-header__navigation {
        padding: 0 20px;
    }

    .goj-js-enabled .goj-header--enable-mobile-navigation .goj-header__navigation {
        display: none;
    }

    .goj-js-enabled .goj-header--enable-mobile-navigation .goj-header__menu-button {
        display: block;
    }

    .goj-js-enabled .goj-header--enable-mobile-navigation.goj-header--mobile-navigation-open {
        .goj-header__navigation {
            display: flex;
        }
    }
}