.goj-loading-spinner__spinner {
    height: 50px;
    width: 50px;
    border: 5px solid #dee0e2;
    border-bottom-color: goj-color("red");
    border-radius: 50%;
    animation: rotation 1.2s linear infinite;
    margin-left: auto;
    margin-right: auto;

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.goj-loading-spinner--inverse {
    .goj-loading-spinner__spinner {
        border-color: transparent;
        border-bottom-color: goj-color("white");
    }

    .goj-loading-spinner__text {
        color: goj-color("white");
    }
}

.goj-loading-spinner__text {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}